:root {
    --bg-main-color: #2d5c1a;
    --title-color: #ffffff;
    --icon-color: rgb(226, 216, 76);
    --suit-red: red;
    --suit-black: black;
    --grey-color: rgba(255, 255, 255, 0.5);
    --font-family: 'Ubuntu', sans-serif;
}

@keyframes throwCard {
    from {transform: rotate(-60deg); transform-origin: 0% 50%; opacity: 0;}
    to {top: 0px; opacity: 100%;}
}

@keyframes flashWin {
    from {opacity: 0;}
    to {opacity: 100%;}
}

body {
    min-width: 100%;
    padding: 0;
    margin: 0;
}

p {
    font-family: var(--font-family);
    font-weight: bold;
}

#main-heading {
    font-family: var(--font-family);
    font-size: 8rem;
    font-weight: 600;
    color: var(--title-color);
    background: black;
    min-width: 100%;
    padding: 2%;
    border-radius: 0 0 20px 20px;
    box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.5);
}

.board {
    border-radius: 20px;
    background: rgb(111,199,55);
    background: linear-gradient(175deg, rgb(79, 153, 33) 0%, rgba(20,78,0,1) 100%);
    box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 400px;
    padding: 1% 5% 7% 1%;
    margin: 1px 1rem;
}

.btn-primary {
    background-color: black;
    border: none;
    width: 40px;
    height: 40px;
    margin: 1% 4px;
    text-align: center;
    border-radius: 50%;
}

.btn-primary:hover {
    border: none;
    background-color: rgb(38, 161, 0);
}

.btn-active {
    background: var(--suit-red);
}

.new-game-text {
    font-family: var(--font-family);
    font-size: 1.5rem;
    padding: 0;
}

.player-score, .dealer-score {
    padding: 0 10px;
}

.player-wins, .dealer-wins {
    padding: 0 10px;
    width: 100%;
    margin: 0 0 0 60px;
}

.player-hand, .dealer-hand {
    list-style-type: none;
    text-align: center;
    padding: 0 0 0 10px;
}

.hand-text {
    font-family: var(--font-family);
    font-size: 20px;
    color: var(--title-color);
}

.card {
    float: left;
    border-radius: 10px;
    height: 180px;
    width: 120px;
    padding: 0px;
    margin: 1% 4px;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.25);
    transition: ease 0.25s;
}

.card:hover {
    float: left;
    border-radius: 10px;
    height: 180px;
    width: 120px;
    padding: 0px;
    margin: 1% 4px;
    border: solid 2px red;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.25);
    transition: ease 0.25s;
}

.card-back {
    float: left;
    border-radius: 10px;
    height: 180px;
    width: 120px;
    padding: 0;
    margin: 1% 4px;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.25);
    transition: ease 0.25s;
}

.rotate-l {
    animation-name: throwCard;
    animation-duration: 0.75s;
    animation-timing-function: ease;
}

.icons {
    font-size: 4rem;
    color: var(--icon-color);
}

.suit.red {
    font-size: 1.5rem;
    color: var(--suit-red);
}

.suit.black {
    font-size: 1.5rem;
    color: var(--suit-black);
}

.svg-icon {
    display: inline-block;
    font-size: 1.5rem;
    width: 100px;
    margin: auto;
}

.svg-icon-back {
    display: inline-block;
    font-size: 1.5rem;
    width: 126px;
    margin: auto;
}

.player-option {
    width: 100%;
    margin: 0;
    color: var(--grey-color);
}

.dealer-option {
    width: 100%;
    margin: 0;
    color: var(--grey-color);
}

.blackjack {
    font-weight: bolder;
    width: 100%;
    margin: auto;
    color: var(--suit-black);
    text-shadow: 2px 2px 4px black;
}

.bust {
    font-weight: bolder;
    width: 100%;
    margin: auto;
    color: var(--suit-red);
    text-shadow: 2px 2px 4px black;
}

.show {
    display: inline-block;
    text-align: left;
    font-size: 4rem;
    line-height: 80px;
    animation-name: flashWin;
    animation-duration: 0.75s;
    animation-timing-function: ease;
}

.hide {
    display: none;
    width: 100%;
    text-align: center;
    font-size: 4rem;
}